* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 2rem;
}
h2 {
    text-align: center;
}
/*Classes*/
.card {
    padding: 1rem;
    box-shadow: 0rem 0.05rem 0.3rem rgba(70, 69, 69, 0.5);
    border-radius: 0.3rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0rem 0.5rem 1rem rgba(70, 69, 69, 0.541);
}
/*IDs*/
#loaders-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}
#throbber-type-1 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    border-top: 0.3rem solid green;
    background-color: transparent;
    animation: 1s rotate infinite ease-in-out;
}
#throbber-type-2 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    border-top: 0.3rem solid rgb(130, 185, 93);
    border-bottom: 0.3rem solid black;
    background-color: transparent;
    animation: 1s rotate infinite ease-in-out;
}
#throbber-type-3 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(0, 0, 0, 0.103);
    border-top: 0.3rem solid rgb(204, 101, 16);
    background-color: transparent;
    animation: 1s rotate infinite ease-in-out;
}
#throbber-type-4 {
    width: 5rem;
    height: 1rem;
    overflow: hidden;
    background-color: rgba(0, 183, 255, 0.404);
}
/*Pseudo Classes*/
#throbber-type-4::before {
    content: '';
    padding: 0 0.2rem;
    height: 1rem;
    background-color: white;
    display: inline-block;
    animation: 1s linear-transition infinite ease-in-out;
}
/*Media queries*/
/*Animations*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes linear-transition {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(4.8rem)
    }
}
@keyframes linear-transition {
    0% {
        transform: skewX(-10deg) translateX(0);
    }
    100% {
        transform: skewX(-10deg) translateX(4.8rem)
    }
}