* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 2rem;
}
h2 {
    text-align: center;
}
/*Classes*/
.card {
    padding: 2rem;
    box-shadow: 0rem 0.05rem 0.3rem rgba(70, 69, 69, 0.5);
    border-radius: 0.3rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0rem 0.5rem 1rem rgba(70, 69, 69, 0.541);
}
/*IDs*/
#loaders-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}
#throbber-type-1 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    border-top: 0.3rem solid green;
    background-color: transparent;
    animation: 1s rotate infinite ease-in-out;
}
#throbber-type-2 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    border-top: 0.3rem solid rgb(130, 185, 93);
    border-bottom: 0.3rem solid black;
    background-color: transparent;
    animation: 1s rotate infinite ease-in-out;
}
#throbber-type-3 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(0, 0, 0, 0.103);
    border-top: 0.3rem solid rgb(204, 101, 16);
    background-color: transparent;
    animation: 1s rotate infinite ease-in-out;
}
#throbber-type-4 {
    width: 5rem;
    height: 1rem;
    overflow: hidden;
    background-color: rgba(0, 183, 255, 0.404);
}
#throbber-type-5 {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    animation: pulsating-fading-1 1s infinite ease-in-out;
}
#throbber-type-6 {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    animation: pulsating-fading-2 1s infinite ease-in-out;
}
#throbber-type-7 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    animation: pulsating-translate-1 1s infinite ease-in-out;
}
#throbber-type-8 {
    height: 1rem;
    width: 5rem;
    background-color: rgba(0, 0, 255, 0.473);
    overflow: hidden;
}
#throbber-type-9 {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.8;
    animation: filling-spin 3s infinite ease-in-out;
}
/*Pseudo Classes*/
#throbber-type-4::before {
    content: '';
    padding: 0 0.2rem;
    height: 1rem;
    background-color: white;
    display: inline-block;
    animation: 1s linear-transition infinite ease-in-out;
}
#throbber-type-8::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    animation: rotate-translate-1 1s infinite alternate-reverse ease-in-out;
}
#throbber-type-8::after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    animation: rotate-translate-2 1s infinite alternate ease-in-out;
}
/*Animations*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes linear-transition {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(4.8rem)
    }
}
@keyframes linear-transition {
    0% {
        transform: skewX(-10deg) translateX(0);
    }
    100% {
        transform: skewX(-10deg) translateX(4.8rem)
    }
}
@keyframes pulsating-fading-2 {
    0% {
        background-color: rgba(0, 128, 0, 0.466);
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulsating-fading-1 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        background-color: rgba(176, 34, 212, 0.623);
        transform: scale(0);
    }
}
@keyframes pulsating-translate-1 {
    0% {
        transform: scale(0) translateX(0);
        background-color: rgba(13, 80, 11, 0.623);
    }
    25% {
        transform: scale(1.5) translateX(1rem);
        background-color: rgba(13, 80, 11, 0.623);
    }
    50% {
        transform: scale(0) translateX(0);
        background-color: rgba(13, 80, 11, 0.623);
    }
    75% {
        transform: scale(1.6) translateX(-1rem);
        background-color: rgba(13, 80, 11, 0.623);
    }
    100% {
        transform: scale(0) translateX(0);
        background-color: rgba(13, 80, 11, 0.623);
    }
}
@keyframes rotate-translate-1 {
    0% {
        transform: translate(-0.5rem, 0);
    } 
    20% {
        transform: translate(1rem, 0.2rem) rotate(72deg);
    }
    40% {
        transform: translate(2rem, -0.2rem) rotate(144deg);
    }
    60% {
        transform: translate(3rem, -0.2rem) rotate(216deg);
    }
    80% {
        transform: translate(4rem, 0.2rem) rotate(288deg);
    }
    100% {
        transform: translate(5rem, 1.2rem) rotate(360deg);
    }
}
@keyframes rotate-translate-2 {
    0% {
        transform: translate(-0.5rem, 0);
    } 
    20% {
        transform: translate(1rem, 0.2rem) rotate(72deg);
    }
    40% {
        transform: translate(2rem, -0.2rem) rotate(144deg);
    }
    60% {
        transform: translate(3rem, 0.2rem) rotate(216deg);
    }
    80% {
        transform: translate(4rem, -0.15rem) rotate(288deg);
    }
    100% {
        transform: translate(5rem, -1.2rem) rotate(360deg);
    }
}
@keyframes filling-spin {
    0% {
        border-top: 1.5rem solid black;
        border-right: 1.5rem solid orangered;
        border-bottom: 1.5rem solid yellow;
        border-left: 1.5rem solid green;
    }
    25% {
        border-top: 1.5rem solid green;
        border-right: 1.5rem solid black;
        border-bottom: 1.5rem solid orangered;
        border-left: 1.5rem solid yellow;
    }
    50% {
        border-top: 1.5rem solid yellow;
        border-right: 1.5rem solid green;
        border-bottom: 1.5rem solid black;
        border-left: 1.5rem solid orangered;
    }
    100% {
        border-top: 1.5rem solid orangered;
        border-right: 1.5rem solid yellow;
        border-bottom: 1.5rem solid green;
        border-left: 1.5rem solid black;
    }
}
/*Media queries*/
@media only screen and (max-width: 360px){
    #loaders-container {
        justify-content: center;
    }
}